{% macro get_sidemenu(breadcrumbs, categories, currentScopeUrl) %}

    {% import _self as sidemenu %}
    {% set urlNow = currentScopeUrl %}

    {% for category in categories %}

        {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        {% if category.details[0] %}
            <li class="{% if category.children is not empty %}ddown {% endif %}nav-item{% for breadcrumb in breadcrumbs %}{% if category.id == breadcrumb.id %} active{% endif %}{% endfor %}" v-update-sidenav-selection="$store.getters.breadcrumbs" data-category-id="{{ category.id }}">
                <a href="{{ urlNow }}{{ urls.trailingSlashSuffix }}" class="nav-link" v-render-category="{ id: {{ category.id }}, type: '{{ category.type }}', alwaysOpen: true, scrollToTop: 600 }">{{ category.details[0].name }}</a>
                {% if category.children is not empty %}
                    <span class="nav-direction">
                        <i aria-hidden="true" class="fa fa-caret-down"></i>
                    </span>
                    <ul>
                        {{ sidemenu.get_sidemenu(breadcrumbs, category.children, urlNow) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}

    {% endfor %}

{% endmacro %}